<ui5-panel header-text="Add New Team" fixed>
  <form [formGroup]="newTeamForm" (ngSubmit)="onSubmit()">

    <div>
      <ui5-label for="name" required show-colon>Team Name</ui5-label>
      <ui5-input id="name" formControlName="name" origami></ui5-input>
    </div>

    <div>
      <ui5-label for="player" required show-colon>Player Name</ui5-label>
      <ui5-input id="player" formControlName="player" origami></ui5-input>
    </div>

    <button class="add-button" [disabled]="!newTeamForm.valid">Add</button>
  </form>

  <ui5-messagestrip class="messagestrip-positioning" type="Positive" no-close-button *ngIf="this.newTeammAdded"> New team is successfully added!</ui5-messagestrip>
</ui5-panel>
