<ui5-title class="margin-bottom">Standing</ui5-title>

<ui5-table no-data-text="Please start tournament" show-no-data>

  <ui5-table-column slot="columns">
    <ui5-label>#</ui5-label>
  </ui5-table-column>
  
  <ui5-table-column slot="columns">
    <ui5-label>Team</ui5-label>
  </ui5-table-column>

  <ui5-table-column slot="columns" min-width="1000" popin-text="Player" demand-popin>
    <ui5-label>Player</ui5-label>
  </ui5-table-column>

  <ui5-table-column slot="columns"  min-width="450" popin-text="Played" demand-popin>
    <ui5-label>Played</ui5-label>
  </ui5-table-column>

  <ui5-table-column slot="columns" min-width="800">
    <ui5-label>Won</ui5-label>
  </ui5-table-column>

  <ui5-table-column slot="columns" min-width="800">
    <ui5-label>Draw</ui5-label>
  </ui5-table-column>

  <ui5-table-column slot="columns" min-width="800">
    <ui5-label>Lost</ui5-label>
  </ui5-table-column>

  <ui5-table-column slot="columns" min-width="800">
    <ui5-label>Scored</ui5-label>
  </ui5-table-column>

  <ui5-table-column slot="columns" min-width="800">
    <ui5-label>Received</ui5-label>
  </ui5-table-column>

  <ui5-table-column slot="columns" min-width="450" popin-text="Goal Difference" demand-popin>
    <ui5-label>Goal Difference</ui5-label>
  </ui5-table-column>
  <ui5-table-column slot="columns">
      <ui5-label>Points</ui5-label>
    </ui5-table-column>

  <ui5-table-row *ngFor="let team of teams; let position = index;">
    <ui5-table-cell>
      <ui5-title level="H3">{{ position + 1 }}</ui5-title>
    </ui5-table-cell>
    <ui5-table-cell>
      <ui5-title level="H3">{{ team.teamName }}</ui5-title>
    </ui5-table-cell>
    <ui5-table-cell>
      <ui5-title level="H3">{{ team.playerName }}</ui5-title>
    </ui5-table-cell>
    <ui5-table-cell>
      <ui5-label>{{ team.playedGames }}</ui5-label>
    </ui5-table-cell>
    <ui5-table-cell>
      <ui5-label>{{ team.wonGames }}</ui5-label>
    </ui5-table-cell>
    <ui5-table-cell>
        <ui5-label>{{ team.drawGames }}</ui5-label>      
    </ui5-table-cell>
    <ui5-table-cell>
        <ui5-label>{{ team.lostGames }}</ui5-label>      
    </ui5-table-cell>
    <ui5-table-cell>
        <ui5-label>{{ team.scoredGoals }}</ui5-label>      
    </ui5-table-cell>
    <ui5-table-cell>
        <ui5-label>{{ team.receivedGoals }}</ui5-label>      
    </ui5-table-cell>
    <ui5-table-cell>
        <ui5-label>{{ team.goalDifference }}</ui5-label>      
    </ui5-table-cell>
    <ui5-table-cell>
        <ui5-label>{{ team.points }}</ui5-label>      
    </ui5-table-cell>
  </ui5-table-row>
</ui5-table>
