<ui5-title class="margin-bottom">Standing</ui5-title>

<ui5-table class="demo-table" id="tbl">

  <ui5-table-column slot="columns">
    <ui5-label>#</ui5-label>
  </ui5-table-column>
  
  <ui5-table-column slot="columns">
    <ui5-label>Team</ui5-label>
  </ui5-table-column>

  <ui5-table-column slot="columns" popin-text="Player" demand-popin>
    <ui5-label>Player</ui5-label>
  </ui5-table-column>

  <ui5-table-column slot="columns">
    <ui5-label>Played</ui5-label>
  </ui5-table-column>

  <ui5-table-column slot="columns">
    <ui5-label>Won</ui5-label>
  </ui5-table-column>

  <ui5-table-column slot="columns">
    <ui5-label>Draw</ui5-label>
  </ui5-table-column>

  <ui5-table-column slot="columns">
    <ui5-label>Lost</ui5-label>
  </ui5-table-column>

  <ui5-table-column slot="columns">
    <ui5-label>Scored</ui5-label>
  </ui5-table-column>

  <ui5-table-column slot="columns">
    <ui5-label>Received</ui5-label>
  </ui5-table-column>

  <ui5-table-column slot="columns">
    <ui5-label>Goal Difference</ui5-label>
  </ui5-table-column>

  <ui5-table-row *ngFor="let team of teams; let position = index;">
    <ui5-table-cell>
      <ui5-title level="H3">{{ position + 1 }}</ui5-title>
    </ui5-table-cell>
    <ui5-table-cell>
      <ui5-title level="H3">{{ team.name }}</ui5-title>
    </ui5-table-cell>
    <ui5-table-cell>
      <ui5-title level="H3">{{ team.player }}</ui5-title>
    </ui5-table-cell>
    <ui5-table-cell>
      <ui5-label>{{ team.won_games }}</ui5-label>
    </ui5-table-cell>
    <ui5-table-cell>
        <ui5-label>{{ team.draw_games }}</ui5-label>      
    </ui5-table-cell>
    <ui5-table-cell>
        <ui5-label>{{ team.lost_games }}</ui5-label>      
    </ui5-table-cell>
    <ui5-table-cell>
        <ui5-label>{{ team.scored_goals }}</ui5-label>      
    </ui5-table-cell>
    <ui5-table-cell>
        <ui5-label>{{ team.received_goals }}</ui5-label>      
    </ui5-table-cell>
    <ui5-table-cell>
        <ui5-label>{{ team.goal_difference }}</ui5-label>      
    </ui5-table-cell>
    <ui5-table-cell>
        <ui5-label>{{ team.points }}</ui5-label>      
    </ui5-table-cell>
  </ui5-table-row>
</ui5-table>
