<ui5-shellbar
  primary-title="Ranking Tournament"
  logo="./assets/images/fifa.png"
  (logoClick)="navigateToHome()"
>
  <ui5-shellbar-item icon="table-view" text="Table" (itemClick)="navigatToTable()"></ui5-shellbar-item>
  <ui5-shellbar-item icon="add-employee" text="Add Team" (itemClick)="navigatToAddTeam()"></ui5-shellbar-item>
  <ui5-shellbar-item icon="add" text="Add Result" (itemClick)="navigatToAddResult()"></ui5-shellbar-item>
</ui5-shellbar>
<section class="main-content">
  <router-outlet></router-outlet>
</section>

<ui5-messagestrip class="messagestrip-positioning" type="Positive" no-close-button *ngIf="this.newGameDetails">The following game has just finished: {{ newGameDetails.homeTeam + " " + newGameDetails.homeTeamScore + " : " + newGameDetails.awayTeamScore + " " + newGameDetails.awayTeam }}</ui5-messagestrip>
